<html>
    <body>

        {% include "superior/barra.html" %} <!--Incluye el archivo barra.html-->

        {% if nombre_persona == 'Jesus David' %}

        <p style="color: green;">El curso lo imparte el profesor titular</p>
        
        {% else %}
        <p style="color: blue;">El curso lo imparte el profesor suplente</p>

        {% endif %}

        <p>El nombre del profesor es: {{nombre_persona|upper}}</p>
        <p>El apellido del profesor es: {{apellido_persona.lower}}</p>
        <p>Dame la hora: {{hora.day}} / {{hora.month}} / {{hora.year}}</p>

        <hr>
        <p><h1>Temas del curso: </h1></p>
        <!--Bucle FOR-->
        <p>
            <ul>
                <!--Condicion if else-->
            {% if temas %}
                {% for elTema in temas %}

                    <li>{{elTema|first}}</li>

                {% endfor %}
            {% else %}
                <p>No hay elementos que mostrar</p>
            {% endif %}
            </ul>
        </p>
        <p>{{temas.1}}</p>
    </body>
</html>