body{
    padding: 10px 0 0 0;
}

#encabezado {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#navegador {
    background-color: aqua;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
}

aside {
    background-color: chartreuse;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
    margin-top: 5px;
    height: 70vh; 
    flex: 1;
}
article{
    background-color: deeppink;
    display: flex;
    margin-right: 41%;
    justify-content: center;
    align-items: center;
    flex: 1;
} 
footer {
    background-color: blueviolet;
    display: grid;
    margin-top: 5px;
}